PROJECT_ID=your-gcp-project-id
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=ap-southeast-2
SHARED_SECRET=your-shared-secret
SNS_TOPIC_ARN=your-sns-topic-arn
MODEL_BUCKET=your-gcs-model-bucket
MD_MODEL_KEY=mdv5a.pt
CLASSIFIER_MODEL_KEY=model.pt
LABELS_KEY=labels.txt
